
.table {
    margin-top: 7%;
    width: 80%;
    height: 80%;
}

table {
    margin: auto;
    width: 70%;
}
thead, tr, th {
    height: 50px;
    text-align: right;
    padding-left: 10px;  
}
tbody, tr, td {
    text-align: left;
    padding-left: 10px;
}
td {
    text-align-last: center;
}
button[type="button"]{
    font-size: 8px;
    cursor: pointer;
}

