.container{
    position: absolute;
    top: 80px;
    left: 120px;
    font-size: 15px;
    background: white;
    outline: gray ;
    height: 200px;
    width: 500px;
}
.container p{
    font-size: 20px;
    font-weight: bold;
}
.table button{
    font-size: 12px;
}
form{
    width: 400px;
    padding-right: 40px;
}
.add button{
    position: absolute;
    right: 10%;
    top: 50px;
}
.next-button{
    font-size: 15px;
    right: 8%;
    top: 80px;
}
