

.dept_title {
    color: black;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.dept_title h2{
    font-family: Helvetica, sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    margin: 2% auto;
}

.table {
    width: 80%;
}

table {
    margin: auto;
    width: 70%;
    border: 0.1px solid black;
}

thead, tr, th {
    height: 50px;
    text-align: right;
    padding-left: 10px;  
}

tbody, tr, td {
    text-align: left;
    padding-left: 10px;
}

td {
    text-align-last: center;
}

button[type="button"]{
    font-size: 10px;
    cursor: pointer;
}

